In [19]:
!pip3 install pymongo

Requirement already satisfied: pymongo in /Users/dbabichenko/opt/anaconda3/lib/python3.9/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/dbabichenko/opt/anaconda3/lib/python3.9/site-packages (from pymongo) (2.2.1)

In [18]:
from pymongo import MongoClient
from bson.json_util import dumps, loads

In [2]:
client = MongoClient('localhost', 27017)

In [3]:
database = client['videoreviews']

In [4]:
collection = database.get_collection('video_movies')

### Aggregation _$group_

In [5]:
query = [ 
    { "$group" : { "_id" : "$year" } } ]

data = collection.aggregate(query)

for doc in data:
    print(doc)

{'_id': 2010}
{'_id': 1940}
{'_id': 1978}
{'_id': 1981}
{'_id': 2002}
{'_id': 2013}
{'_id': 2007}
{'_id': 1988}
{'_id': 1968}
{'_id': 1932}
{'_id': 1960}
{'_id': 1975}
{'_id': 2015}
{'_id': 1974}
{'_id': 1900}
{'_id': 1944}
{'_id': 1948}
{'_id': 1962}
{'_id': 1938}
{'_id': 2006}
{'_id': 1986}
{'_id': 2004}
{'_id': 1942}
{'_id': 1925}
{'_id': 1935}
{'_id': 1939}
{'_id': 1971}
{'_id': 1906}
{'_id': 1896}
{'_id': 1902}
{'_id': 2011}
{'_id': 1983}
{'_id': 1936}
{'_id': 1953}
{'_id': 1993}
{'_id': 1985}
{'_id': 1920}
{'_id': 1937}
{'_id': 1973}
{'_id': 1915}
{'_id': 1943}
{'_id': 1991}
{'_id': 1930}
{'_id': 1954}
{'_id': 1921}
{'_id': 1933}
{'_id': 1931}
{'_id': 1926}
{'_id': 1947}
{'_id': 1967}
{'_id': 1928}
{'_id': 1929}
{'_id': 2001}
{'_id': 2005}
{'_id': 1897}
{'_id': 1945}
{'_id': 1949}
{'_id': 1961}
{'_id': 1970}
{'_id': 1976}
{'_id': 1963}
{'_id': 1959}
{'_id': 1927}
{'_id': 1982}
{'_id': 1997}
{'_id': 1918}
{'_id': 1995}
{'_id': 1969}
{'_id': 1919}
{'_id': 1909}
{'_id': 1916}
{'_id': 1904}
{'_id': 1972}
{'_id': 2016}
{'_id': 1946}
{'_id': 1901}
{'_id': 1999}
{'_id': 1956}
{'_id': 1996}
{'_id': 1911}
{'_id': 1941}
{'_id': 1952}
{'_id': 1958}
{'_id': 1950}
{'_id': 1964}
{'_id': 1966}
{'_id': 1912}
{'_id': 1924}
{'_id': 1905}
{'_id': 1955}
{'_id': 1989}
{'_id': 1910}
{'_id': 1951}
{'_id': 1998}
{'_id': 1977}
{'_id': 1984}
{'_id': 1957}
{'_id': 1899}
{'_id': 2009}
{'_id': 1923}
{'_id': 1979}
{'_id': 1914}
{'_id': 1903}
{'_id': 1994}
{'_id': 1934}
{'_id': 1987}
{'_id': 2000}
{'_id': 1980}
{'_id': 1965}
{'_id': 2012}
{'_id': 1908}
{'_id': 1898}
{'_id': 2008}
{'_id': 2018}
{'_id': 2003}
{'_id': 1992}
{'_id': 1913}
{'_id': 2014}
{'_id': 1990}
{'_id': 1917}

### Aggregation _limit_

In [6]:
query = [ 
    { "$group" : { "_id" : "$year" } },
    { "$limit" : 5}
    ]
data = collection.aggregate(query)

for doc in data:
    print(doc)

{'_id': 1998}
{'_id': 1993}
{'_id': 1985}
{'_id': 1920}
{'_id': 1984}

### Aggregation _project_

**In SQL, this would be the equivalent of:**

SELECT title, year FROM TABLE LIMIT 5;

In [9]:
query = [ 
    { "$project" : {
        "title" : 1,
        "year" : 1,
        "_id" : 0
    }},
    { "$limit" : 5}
    ]
data = collection.aggregate(query)

for doc in data:
    print(doc)

{'title': 'Once Upon a Time in the West', 'year': 1968}
{'title': 'A Million Ways to Die in the West', 'year': 2014}
{'title': 'Wild Wild West', 'year': 1999}
{'title': 'West Side Story', 'year': 1961}
{'title': 'Slow West', 'year': 2015}

### Aggregation _sort_

In [11]:
query = [ 
    { "$project" : {
        "title" : 1,
        "year" : 1,
        "_id" : 0
    }},
    { "$sort" : {"year" : -1}},
    { "$limit" : 5}
    ]
data = collection.aggregate(query)

for doc in data:
    print(doc)

{'title': 'QQ Speed', 'year': 2018}
{'title': 'Untitled J.J. Abrams/Chris Alender Sci-Fi Project', 'year': 2016}
{'title': 'MF', 'year': 2016}
{'title': 'Elf ll', 'year': 2016}
{'title': "The Duke: Based on the Memoir 'I'm the Duke' by J.P. Duke", 'year': 2016}

### Aggregation _$match_

SELECT title, year FROM film_movies
WHERE year = 1999
ORDER BY title ASC
LIMIT 5;

In [17]:
query = [ 
    { "$match" : { "year" : 1999}},
    { "$project" : {
        "title" : 1,
        "year" : 1,
        "_id" : 0
    }},
    { "$sort" : {"title" : 1}},
    { "$limit" : 5}
    ]
data = collection.aggregate(query)

for doc in data:
    print(doc)

{'title': '30 cm de Pica e Demais', 'year': 1999}
{'title': 'A.Li.Ce', 'year': 1999}
{'title': 'Aa Ab Laut Chalen', 'year': 1999}
{'title': 'All About My Mother', 'year': 1999}
{'title': 'Au Pair', 'year': 1999}

### Aggregation _$addFields_

SELECT rating, AVG(rating) FROM film_movies
GROUP BY rating
LIMIT 5;

In [13]:
collection = database.get_collection('video_reviews')
query = [ 
    {
    "$addFields": {
      "avgRating": { "$avg": "$rating" }
    }},
    { "$project" : {
        "avgRating" : 1,
        "_id" : 0
    }},
    { "$limit" : 5}
]
data = collection.aggregate(query)

for doc in data:
    print(doc)

{'avgRating': 2.5}
{'avgRating': 5.0}
{'avgRating': 3.0}
{'avgRating': 4.5}
{'avgRating': 3.5}

### Aggregation _$count_

In [14]:
collection = database.get_collection('video_movies')
query = [ 
    { "$match" : { "year" : 1999}},
    { "$count" : "totalMovies1999"}    ]
data = collection.aggregate(query)

for doc in data:
    print(doc)

{'totalMovies1999': 62}