In [4]:
import pandas as pd
import math

In [2]:
df = pd.read_csv('diabetes.csv')
df.head()

     id   chol stab.glu  hdl age  gender  height  weight   frame  bp.1s  bp.1d
0  1000  203.0       82  _56  46  female    62.0   121.0  medium  118.0   59.0
1  1001  165.0       97   24  29  female    64.0   218.0   large  112.0   68.0
2  1002  228.0       92   37  58  female    61.0   256.0   large  190.0   92.0
3  1003   78.0       93   12  67    male    67.0   119.0   large  110.0   50.0
4  1005  249.0       90   28  64    male    68.0   183.0  medium  138.0   80.0

In [8]:
df['gender'].unique()

array(['female', 'male'], dtype=object)

In [9]:
df['gender'].value_counts()

female    234
male      169
Name: gender, dtype: int64

In [12]:
df.groupby('gender').agg({'chol':'mean'})

              chol
gender
female  208.435897
male    207.023810

SELECT gender, AVG(chol) FROM diabetes
GROUP BY gender

In [5]:
for val in df['chol']:
    print(val, ": ", math.sqrt(val))

203.0 :  14.247806848775006
165.0 :  12.84523257866513
228.0 :  15.0996688705415
78.0 :  8.831760866327848
249.0 :  15.7797338380595
248.0 :  15.748015748023622
195.0 :  13.96424004376894
227.0 :  15.066519173319364
177.0 :  13.30413469565007
263.0 :  16.217274740226856
242.0 :  15.556349186104045
215.0 :  14.66287829861518
238.0 :  15.427248620541512
183.0 :  13.527749258468683
191.0 :  13.820274961085254
213.0 :  14.594519519326424
255.0 :  15.968719422671311
230.0 :  15.165750888103101
194.0 :  13.92838827718412
196.0 :  14.0
186.0 :  13.638181696985855
234.0 :  15.297058540778355
203.0 :  14.247806848775006
281.0 :  16.76305461424021
228.0 :  15.0996688705415
179.0 :  13.379088160259652
232.0 :  15.231546211727817
nan :  nan
254.0 :  15.937377450509228
215.0 :  14.66287829861518
177.0 :  13.30413469565007
182.0 :  13.490737563232042
265.0 :  16.278820596099706
182.0 :  13.490737563232042
199.0 :  14.106735979665885
183.0 :  13.527749258468683
194.0 :  13.92838827718412
190.0 :  13.784048752090222
173.0 :  13.152946437965905
182.0 :  13.490737563232042
136.0 :  11.661903789690601
218.0 :  14.7648230602334
225.0 :  15.0
262.0 :  16.186414056238647
213.0 :  14.594519519326424
243.0 :  15.588457268119896
148.0 :  12.165525060596439
128.0 :  11.313708498984761
169.0 :  13.0
157.0 :  12.529964086141668
196.0 :  14.0
237.0 :  15.394804318340652
212.0 :  14.560219778561036
233.0 :  15.264337522473747
289.0 :  17.0
193.0 :  13.892443989449804
204.0 :  14.2828568570857
165.0 :  12.84523257866513
237.0 :  15.394804318340652
218.0 :  14.7648230602334
296.0 :  17.204650534085253
178.0 :  13.341664064126334
443.0 :  21.047565179849187
145.0 :  12.041594578792296
234.0 :  15.297058540778355
146.0 :  12.083045973594572
223.0 :  14.933184523068078
213.0 :  14.594519519326424
173.0 :  13.152946437965905
232.0 :  15.231546211727817
171.0 :  13.076696830622021
164.0 :  12.806248474865697
170.0 :  13.038404810405298
180.0 :  13.416407864998739
204.0 :  14.2828568570857
209.0 :  14.45683229480096
242.0 :  15.556349186104045
134.0 :  11.575836902790225
217.0 :  14.730919862656235
251.0 :  15.84297951775486
217.0 :  14.730919862656235
300.0 :  17.320508075688775
218.0 :  14.7648230602334
189.0 :  13.74772708486752
185.0 :  13.601470508735444
206.0 :  14.352700094407323
218.0 :  14.7648230602334
189.0 :  13.74772708486752
229.0 :  15.132745950421556
228.0 :  15.0996688705415
159.0 :  12.609520212918492
249.0 :  15.7797338380595
170.0 :  13.038404810405298
174.0 :  13.19090595827292
204.0 :  14.2828568570857
203.0 :  14.247806848775006
241.0 :  15.524174696260024
245.0 :  15.652475842498529
143.0 :  11.958260743101398
224.0 :  14.966629547095765
168.0 :  12.96148139681572
184.0 :  13.564659966250536
199.0 :  14.106735979665885
158.0 :  12.569805089976535
209.0 :  14.45683229480096
214.0 :  14.628738838327793
293.0 :  17.11724276862369
227.0 :  15.066519173319364
292.0 :  17.08800749063506
218.0 :  14.7648230602334
244.0 :  15.620499351813308
283.0 :  16.822603841260722
186.0 :  13.638181696985855
273.0 :  16.522711641858304
193.0 :  13.892443989449804
194.0 :  13.92838827718412
231.0 :  15.198684153570664
217.0 :  14.730919862656235
174.0 :  13.19090595827292
225.0 :  15.0
268.0 :  16.3707055437449
195.0 :  13.96424004376894
179.0 :  13.379088160259652
215.0 :  14.66287829861518
185.0 :  13.601470508735444
132.0 :  11.489125293076057
175.0 :  13.228756555322953
179.0 :  13.379088160259652
228.0 :  15.0996688705415
181.0 :  13.45362404707371
160.0 :  12.649110640673518
188.0 :  13.711309200802088
168.0 :  12.96148139681572
318.0 :  17.832554500127006
192.0 :  13.856406460551018
209.0 :  14.45683229480096
129.0 :  11.357816691600547
160.0 :  12.649110640673518
160.0 :  12.649110640673518
211.0 :  14.52583904633395
262.0 :  16.186414056238647
201.0 :  14.177446878757825
263.0 :  16.217274740226856
219.0 :  14.798648586948742
191.0 :  13.820274961085254
171.0 :  13.076696830622021
219.0 :  14.798648586948742
347.0 :  18.627936010197157
269.0 :  16.401219466856727
164.0 :  12.806248474865697
181.0 :  13.45362404707371
190.0 :  13.784048752090222
255.0 :  15.968719422671311
218.0 :  14.7648230602334
223.0 :  14.933184523068078
254.0 :  15.937377450509228
236.0 :  15.362291495737216
176.0 :  13.2664991614216
158.0 :  12.569805089976535
181.0 :  13.45362404707371
151.0 :  12.288205727444508
115.0 :  10.723805294763608
271.0 :  16.46207763315433
190.0 :  13.784048752090222
118.0 :  10.862780491200215
168.0 :  12.96148139681572
254.0 :  15.937377450509228
193.0 :  13.892443989449804
187.0 :  13.674794331177344
212.0 :  14.560219778561036
170.0 :  13.038404810405298
215.0 :  14.66287829861518
199.0 :  14.106735979665885
140.0 :  11.832159566199232
216.0 :  14.696938456699069
204.0 :  14.2828568570857
193.0 :  13.892443989449804
267.0 :  16.34013463836819
201.0 :  14.177446878757825
204.0 :  14.2828568570857
246.0 :  15.684387141358123
229.0 :  15.132745950421556
172.0 :  13.114877048604
197.0 :  14.035668847618199
205.0 :  14.317821063276353
219.0 :  14.798648586948742
174.0 :  13.19090595827292
192.0 :  13.856406460551018
206.0 :  14.352700094407323
160.0 :  12.649110640673518
216.0 :  14.696938456699069
236.0 :  15.362291495737216
205.0 :  14.317821063276353
206.0 :  14.352700094407323
143.0 :  11.958260743101398
173.0 :  13.152946437965905
235.0 :  15.329709716755891
169.0 :  13.0
283.0 :  16.822603841260722
174.0 :  13.19090595827292
271.0 :  16.46207763315433
203.0 :  14.247806848775006
188.0 :  13.711309200802088
293.0 :  17.11724276862369
215.0 :  14.66287829861518
207.0 :  14.38749456993816
179.0 :  13.379088160259652
202.0 :  14.212670403551895
211.0 :  14.52583904633395
211.0 :  14.52583904633395
151.0 :  12.288205727444508
171.0 :  13.076696830622021
342.0 :  18.49324200890693
179.0 :  13.379088160259652
155.0 :  12.449899597988733
197.0 :  14.035668847618199
200.0 :  14.142135623730951
237.0 :  15.394804318340652
198.0 :  14.071247279470288
240.0 :  15.491933384829668
192.0 :  13.856406460551018
145.0 :  12.041594578792296
269.0 :  16.401219466856727
240.0 :  15.491933384829668
205.0 :  14.317821063276353
266.0 :  16.30950643030009
188.0 :  13.711309200802088
222.0 :  14.89966442575134
142.0 :  11.916375287812984
268.0 :  16.3707055437449
174.0 :  13.19090595827292
214.0 :  14.628738838327793
194.0 :  13.92838827718412
196.0 :  14.0
207.0 :  14.38749456993816
204.0 :  14.2828568570857
189.0 :  13.74772708486752
179.0 :  13.379088160259652
159.0 :  12.609520212918492
260.0 :  16.1245154965971
228.0 :  15.0996688705415
242.0 :  15.556349186104045
227.0 :  15.066519173319364
208.0 :  14.422205101855956
208.0 :  14.422205101855956
209.0 :  14.45683229480096
163.0 :  12.767145334803704
201.0 :  14.177446878757825
237.0 :  15.394804318340652
176.0 :  13.2664991614216
146.0 :  12.083045973594572
231.0 :  15.198684153570664
241.0 :  15.524174696260024
305.0 :  17.46424919657298
149.0 :  12.206555615733702
183.0 :  13.527749258468683
235.0 :  15.329709716755891
244.0 :  15.620499351813308
199.0 :  14.106735979665885
224.0 :  14.966629547095765
173.0 :  13.152946437965905
192.0 :  13.856406460551018
157.0 :  12.529964086141668
172.0 :  13.114877048604
170.0 :  13.038404810405298
215.0 :  14.66287829861518
214.0 :  14.628738838327793
195.0 :  13.96424004376894
230.0 :  15.165750888103101
206.0 :  14.352700094407323
147.0 :  12.12435565298214
234.0 :  15.297058540778355
135.0 :  11.61895003862225
226.0 :  15.033296378372908
179.0 :  13.379088160259652
163.0 :  12.767145334803704
191.0 :  13.820274961085254
138.0 :  11.74734012447073
184.0 :  13.564659966250536
181.0 :  13.45362404707371
224.0 :  14.966629547095765
293.0 :  17.11724276862369
147.0 :  12.12435565298214
198.0 :  14.071247279470288
152.0 :  12.328828005937952
277.0 :  16.64331697709324
219.0 :  14.798648586948742
182.0 :  13.490737563232042
135.0 :  11.61895003862225
277.0 :  16.64331697709324
212.0 :  14.560219778561036
162.0 :  12.727922061357855
207.0 :  14.38749456993816
255.0 :  15.968719422671311
404.0 :  20.09975124224178
239.0 :  15.459624833740307
220.0 :  14.832396974191326
165.0 :  12.84523257866513
243.0 :  15.588457268119896
149.0 :  12.206555615733702
178.0 :  13.341664064126334
190.0 :  13.784048752090222
226.0 :  15.033296378372908
132.0 :  11.489125293076057
160.0 :  12.649110640673518
204.0 :  14.2828568570857
164.0 :  12.806248474865697
155.0 :  12.449899597988733
251.0 :  15.84297951775486
198.0 :  14.071247279470288
179.0 :  13.379088160259652
223.0 :  14.933184523068078
207.0 :  14.38749456993816
244.0 :  15.620499351813308
245.0 :  15.652475842498529
191.0 :  13.820274961085254
221.0 :  14.866068747318506
300.0 :  17.320508075688775
173.0 :  13.152946437965905
138.0 :  11.74734012447073
203.0 :  14.247806848775006
260.0 :  16.1245154965971
166.0 :  12.884098726725126
180.0 :  13.416407864998739
159.0 :  12.609520212918492
207.0 :  14.38749456993816
298.0 :  17.26267650163207
203.0 :  14.247806848775006
191.0 :  13.820274961085254
231.0 :  15.198684153570664
184.0 :  13.564659966250536
164.0 :  12.806248474865697
134.0 :  11.575836902790225
220.0 :  14.832396974191326
180.0 :  13.416407864998739
216.0 :  14.696938456699069
158.0 :  12.569805089976535
261.0 :  16.15549442140351
172.0 :  13.114877048604
249.0 :  15.7797338380595
189.0 :  13.74772708486752
225.0 :  15.0
193.0 :  13.892443989449804
219.0 :  14.798648586948742
156.0 :  12.489995996796797
224.0 :  14.966629547095765
181.0 :  13.45362404707371
306.0 :  17.4928556845359
122.0 :  11.045361017187261
219.0 :  14.798648586948742
150.0 :  12.24744871391589
185.0 :  13.601470508735444
226.0 :  15.033296378372908
206.0 :  14.352700094407323
199.0 :  14.106735979665885
239.0 :  15.459624833740307
235.0 :  15.329709716755891
184.0 :  13.564659966250536
242.0 :  15.556349186104045
307.0 :  17.52141546793523
204.0 :  14.2828568570857
212.0 :  14.560219778561036
203.0 :  14.247806848775006
219.0 :  14.798648586948742
226.0 :  15.033296378372908
217.0 :  14.730919862656235
157.0 :  12.529964086141668
235.0 :  15.329709716755891
252.0 :  15.874507866387544
204.0 :  14.2828568570857
188.0 :  13.711309200802088
194.0 :  13.92838827718412
215.0 :  14.66287829861518
179.0 :  13.379088160259652
202.0 :  14.212670403551895
194.0 :  13.92838827718412
227.0 :  15.066519173319364
337.0 :  18.35755975068582
255.0 :  15.968719422671311
162.0 :  12.727922061357855
322.0 :  17.944358444926362
289.0 :  17.0
217.0 :  14.730919862656235
209.0 :  14.45683229480096
214.0 :  14.628738838327793
302.0 :  17.378147196982766
179.0 :  13.379088160259652
279.0 :  16.703293088490067
144.0 :  12.0
270.0 :  16.431676725154983
196.0 :  14.0
221.0 :  14.866068747318506
210.0 :  14.491376746189438
192.0 :  13.856406460551018
169.0 :  13.0
179.0 :  13.379088160259652
216.0 :  14.696938456699069
301.0 :  17.349351572897472
296.0 :  17.204650534085253
284.0 :  16.852299546352718
194.0 :  13.92838827718412
199.0 :  14.106735979665885
159.0 :  12.609520212918492

In [6]:
df['chol_sqrt'] = df['chol'].apply(lambda x: math.sqrt(x))

In [7]:
df[['chol','chol_sqrt']]

      chol  chol_sqrt
0    203.0  14.247807
1    165.0  12.845233
2    228.0  15.099669
3     78.0   8.831761
4    249.0  15.779734
..     ...        ...
398  296.0  17.204651
399  284.0  16.852300
400  194.0  13.928388
401  199.0  14.106736
402  159.0  12.609520

[403 rows x 2 columns]